# Environments and credentials
.env
*.pem
*.key

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.venv
.pytest_cache/
test.db

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# OS and IDE
.DS_Store
Thumbs.db
.idea/
.vscode/
